/* Здесь подключаем шрифты, используя правило @font-face*/
@font-face {
    font-family: 'Muli-Regular';
    src: url(../assets/fonts/Muli-Regular.woff);
}

@font-face {
    font-family: 'Muli-ExtraBold';
    src: url(../assets/fonts/Muli-ExtraBold.woff);
}

@font-face {
    font-family: 'Muli-Bold';
    src: url(..//assets/fonts/Muli-Bold.woff);
}

@font-face {
    font-family: 'Muli-LightItalic';
    src: url(..//assets/fonts/Muli-LightItalic.woff);
}

@font-face {
    font-family: 'Muli-Italic';
    src: url(../assets/fonts/Muli-Italic.ttf);
}

@font-face {
    font-family: 'Muli-SemiBoldItalic';
    src: url(../assets/fonts/Muli-SemiBoldItalic.woff);
}

/*И повторяем этот кусок кода изменяя имя шрифта и путь к файлу*/



/* Общие стили */
html,
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}


.btn {
    cursor: pointer;
}

/* Header */
.header {
    background-image: url('../assets/img/header-bg-img.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;


}

.header__right {
    display: flex;
}

.header__top {
    padding: 70px 100px 70px;
    position: relative;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header__personal {
    margin-right: 130px;
    display: flex;
    position: relative;
}

.header__personal-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__personal::after {
    content: "";
    display: inline-block;
    width: 47px;
    height: 2px;
    background-color: #ffd68f;
    position: absolute;
    right: -109px;
    top: 50%;
}

.header__personal-link:last-child {
    position: relative;
}

.header__personal-count {

    display: inline-block;
    text-align: center;
    padding-top: 2px;
    width: 17px;
    height: 17px;
    color: black;
    border-radius: 50%;
    background: #ffffff;
    position: absolute;
    bottom: 20px;
    left: 65px;
    font-family: 'Muli-Regular';
    font-size: 11px;
    font-weight: 400;
}


.header__social-list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding-left: 10px;
}

.menu {
    width: 540px;
    font-family: 'Muli-Regular';
}

.header__personal-icon {
    margin: 0px 0px 0px 45px;
}

.header__social-icon {
    margin: 0px 0px 0px 10px;
}

.menu__list {

    font-family: 'Muli-Regular';
    list-style-type: none;
    text-transform: uppercase;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    letter-spacing: 0.32px;
}

.menu__list-item {
    padding-right: 10px;
}

.menu__btn {
    display: none;
    position: fixed;
    right: 30px;
    top: 30px;
    cursor: pointer;
}

.menu__btn-img {
    width: 100%;
}

.menu__list-link {
    color: #ffffff;
}

.menu__list-link:hover {
    border-bottom: 2px solid #ffffff;


}

.header__content {
    display: flex;
    justify-content: center;
}


.btn-header {
    width: 280px;
    height: 70px;
    border-radius: 35px;
    background-color: #0aa566;
    border: 0;
    font-family: 'Muli-Regular';
    font-size: 24px;
    color: #ffffff;
    padding-right: 70px;
    position: relative;
    cursor: pointer;
}

.btn-header::after {
    content: "";
    height: 16px;
    width: 30px;
    background-image: url(../assets/img/header/arrow-btn.png);
    position: absolute;
    right: 35px;
    transform: translateY(50%);
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);

}


.btn-header:hover {
    background-color: #097a4d;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);


}

.btn-header:hover::after {
    right: 30px;
}

/* Smoothies */

.smoothies {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.title-smothies {
    margin: 98px 0px 55px 0px;
}


.title {

    color: #f7ae3b;
    font-family: 'Muli-ExtraBold';
    font-size: 50px;
    font-weight: 400;
    font-style: normal;
    line-height: 40px;
    text-align: center;
    letter-spacing: -1px;
}

.text {
    max-width: 915px;
    color: #1e1e1e;
    font-family: 'Muli-Regular';
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    line-height: 35px;
}

.text-smoothies {
    margin-bottom: 60px;
}

.smoothies__features {
    max-width: 1015px;
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    margin: 0px 0px 160px 0px;

}

.smothies__features-text {
    width: 200px;
    height: 25px;
    color: #f2612d;
    font-family: 'Muli-ExtraBold';
    font-size: 25px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
}

.smothies__features-icon {
    width: 74px;
    height: 70px;
}

.smoothies__features-content {
    width: 240px;
    height: 200px;
    padding: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.smoothies__features-content:nth-child(1) {
    border-right: 2px solid #f6edde;
    border-bottom: 2px solid #f6edde;
}

.smoothies__features-content:nth-child(2) {
    border-right: 2px solid #f6edde;
    border-bottom: 2px solid #f6edde;
}

.smoothies__features-content:nth-child(3) {
    border-right: 2px solid #f6edde;
    border-bottom: 2px solid #f6edde;
}

.smoothies__features-content:nth-child(4) {
    border-bottom: 2px solid #f6edde;
}

.smoothies__features-content:nth-child(5) {
    border-right: 2px solid #f6edde;

}

.smoothies__features-content:nth-child(6) {
    border-right: 2px solid #f6edde;

}

.smoothies__features-content:nth-child(7) {
    border-right: 2px solid #f6edde;

}


/* About */
.about {
    background-image: url('../assets/img/about/about-bg.png');
    background-size: cover;
    height: 800px;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;

}

.about__image {
    width: 691px;
    height: 818px;
    margin-top: 50px;
    margin-left: -203px;
}

.about__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 130px;

}

.about__text {
    max-width: 588px;
    color: #ffffff;
    text-align: left;
    line-height: 50px;
}

.title--green {
    color: #cae941;
}

.about__smoothie-list {
    font-family: 'Muli-LightItalic';
    width: 408px;
    font-size: 21px;
    color: #ffffff;
    padding: 60px 0px 50px 30px;
    list-style-image: url(../assets/img/about/1.png)
}

.about__smoothie-item {
    line-height: 40px;
}

.text--bold {
    font-family: 'Muli-ExtraBold';
}

.about__smoothie-item {
    width: 420px;
}

.btn--transparend {
    width: 380px;
    height: 60px;
    border-radius: 35px;
    border-color: #f8b231;
    /* border-width: 5px; */
    border-style: solid;
    background-color: transparent;
    font-family: 'Muli-ExtraBold';
    color: #ffffff;
    font-size: 21px;
    padding-right: 65px;
    position: relative;
}

.btn--transparend:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);



}

.btn--transparend:hover::after {
    right: 25px;
}

.btn--transparend::after,
.btn--green-bg::after {
    content: "";
    width: 30px;
    height: 16px;
    background-image: url(../assets/img/header/arrow-btn.png);
    position: absolute;
    right: 30px;
    top: 20px;
}

/* Products */
.product {
    position: relative;
    display: flex;
}

.product__item {
    width: 477px;
    height: 720px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 25%;
}

.product__img {
    width: 119px;
    height: 303px;
}

.product__item--dark-chocolate {
    background-color: #612917;

}

.product__item--vegan {
    background-color: #1a8472;

}

.product__item--lemon {
    background-color: #f8ac3a;
}

.product__item--turmeric {
    background-color: #c34b1e;
}

.product__title {
    font-family: 'Muli-Bold';
    color: #ffffff;
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.product__size {
    font-size: 21px;
    font-family: 'Muli-LightItalic';
    color: #ffffff;
    margin-bottom: 60px;
}

.btn--tr-white {
    width: 205px;
    height: 60px;
    background-color: transparent;
    border-radius: 35px;
    border-color: #ffffff;
    border-width: 2px;
    border-style: solid;
    font-family: 'Muli-ExtraBold';
    font-size: 21px;
    color: #ffffff;
    padding-right: 85px;
    position: relative;
}

.btn--tr-white::after {
    content: "";
    width: 30px;
    height: 16px;
    background-image: url(../assets/img/product/Arrow-btn.png);
    position: absolute;
    right: 30px;
    bottom: 20px;
}

.btn--tr-white:hover {
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
}

.btn--tr-white:hover::after {
    right: 25px;
}

/* Story */
.story {
    height: 870px;
    display: flex;
    justify-content: space-around;
    margin-left: 250px;

}

.story__right {
    position: relative;
}

.story__right::after {
    content: "";
    width: 290px;
    height: 216px;
    background-image: url(../assets/img/story/Stamp.png);
    position: absolute;
    top: 135px;
    right: 730px;
}

.story__image {
    width: 585px;
    height: 600px;
    margin-top: 115px;
    margin-right: 260px;
}



.story__about {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.story__text {
    max-width: 515px;

    text-align: left;
    line-height: 35px;
    margin-bottom: 50px;

}

.story__title {
    text-align: left;
    margin-bottom: 50px;
}

.btn--green-bg {
    width: 380px;
    height: 60px;
    border-radius: 35px;
    background-color: #0aa566;
    font-family: 'Muli-ExtraBold';
    color: #ffffff;
    font-size: 21px;
    border: 0;
    padding-right: 151px;
    position: relative;
}

.btn--green-bg:hover {
    background-color: #097a4d;
}

.btn--green-bg:hover::after {
    right: 25px;
}

/* Testimonials */
.testimonials {
    background-color: #662b1f;
    height: 715px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;

}

.testimonials::after {
    content: "";
    background-image: url(../assets/img/story/Dots.png);
    width: 410px;
    height: 301px;
    position: absolute;
    right: 40px;
    top: -90px;
}

.title--orange {
    font-family: 'Muli-ExtraBold';
    color: #f2612d;
}

.testimonials__title {
    margin-top: 50px;
    position: relative;

}

.testimonials__title::after {
    content: "";
    background-image: url(../assets/img/testimonials/Sarah_A.png);
    position: absolute;
    width: 750px;
    height: 150px;
    right: 35px;
    top: 130px;
}

.testimonials__text {
    font-family: 'Muli-Regular';
    width: 455px;
    height: 130px;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    line-height: 35px;
    margin-top: 59px;
}

.testimonials__from {
    font-family: 'Muli-SemiBoldItalic';
    color: #f7ae3b;
    width: 450px;
    margin-left: 18px;
    position: absolute;
    top: 175px;
    right: 220px;
}

.testimonials__main {
    width: 800px;
    height: 250px;
    display: flex;
    position: relative;
}

.testimoials__text-img {
    width: 220px;
    height: 220px;
    margin-left: 100px;
}

.testimonials__arrows {
    width: 158px;
    display: flex;
    justify-content: space-between;
}

.testimonials__btn {

    width: 30px;
    height: 16px;
    background-color: transparent;
    border: 0;

}

/* Blog */
.blog {
    height: 860px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog__about {
    text-align: left;
    margin-bottom: 60px;
}

.blog__img {
    width: 555px;
    height: 400px;
    display: block;
}



.blog__subtitle {

    color: #f2612d;
    font-family: 'Muli-ExtraBold';
    font-size: 30px;
    font-weight: 400;
    position: relative;
}

.blog__subtitle::before {
    content: "";
    background-image: url(../assets/img/blog/Line.png);
    width: 687px;
    height: 12px;
    position: absolute;
    top: -50px;
    right: -28px;
}

.blog__date {
    font-family: 'Muli-Regular';
    font-size: 16px;
    margin-bottom: 20px;
}

.blog__text {
    width: 472px;
    height: 122px;
    text-align: left;
    margin-left: 100px;
    margin-top: 50px;
    line-height: 35px;
}

.blog__post {
    margin-top: 128px;
    margin-left: 60px;
}


.blog__link {
    color: black;
    font-weight: bold;
    position: relative;
}

.blog__link::after {
    content: "";
    background-image: url(../assets/img/blog/Arrow.png);
    width: 18px;
    height: 10px;
    position: absolute;
    top: 8px;
    right: -30px;
}

/* Instagram */
.instagram {
    width: 100%;
    margin-bottom: 10px;

}

.instagram__gallery {
    display: flex;

}

.instagram__link {
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
}

.instagram__gallery-image {
    width: 380px;
    height: 384px;
}

/* Footer */

.footer {

    height: 430px;
    background-color: #f4a83c;
}

.footer__top {
    height: 370px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer__title {
    font-family: 'Muli-ExtraBold';
    color: #ffffff;
    font-size: 26px;
    margin-bottom: 25px;
}

.footer__list {
    list-style-type: none;
    font-family: 'Muli-Regular';

}

.footer__link {
    color: #6d450c;
    font-size: 18px;
    line-height: 35px;
    font-weight: 700;

}

.footer__payments {
    width: 241px;
    height: 199px;
}

.footer__payments-list {
    width: 206px;
    height: 142px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer__input {
    border-radius: 35px;
    width: 495px;
    height: 60px;
    border: 0;
    background-image: url(../assets/img/footer/Icon-mail.png);
    background-repeat: no-repeat;
    background-position: 05% 50%;
    padding-left: 65px;

}

input {
    outline: none;
}

.footer-social {
    margin-top: 25px;
    margin-left: 180px;
}

::-webkit-input-placeholder {
    color: #c0392b;
    font-size: 17px;
    font-family: 'Muli-Regular';
    font-weight: 700;

}

:focus::-webkit-input-placeholder {
    color: transparent;
}

.test {
    width: 1215px;
    display: flex;
    justify-content: space-around;
}

.footer__follow {
    font-family: 'Muli-ExtraBold';
    font-size: 18px;
    font-weight: 400;
    color: #6d450c;
    margin-right: 30px;
    position: relative;
}

.footer__follow::before {
    content: "";
    background-image: url(../assets/img/footer/Arrow.png);
    width: 48px;
    height: 43px;
    position: absolute;
    left: -75px;
    bottom: 0px;
}

.footer-social__link {
    padding-left: 24px;
}

.footer__copyright {
    background-color: #6e2d19;
    height: 65px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.footer__copyright-text {
    font-family: 'Muli-Regular';
    color: #af8a82;
    font-size: 13px;
    font-weight: 400;

}

.footer__bottom {
    position: absolute;
    right: 215px;
}

.footer__copyright-label {
    font-family: 'Muli-Regular';
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
}

.footer__copyright-btn {
    background-image: url(../assets/img/footer/btn.png);
    width: 50px;
    height: 50px;
    border: 0;
    border-radius: 5px;
    position: fixed;
    bottom: 45px;
    z-index: 99999;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


/* /* Здесь будут медиа запросы */
/* @media (max-width: 1500px) {
    .header__nav {
        display: none;
    }

    .menu__btn {
        display: block;
    }
}
 */





@media (max-width: 768px) {
    .header__nav {
        display: none;
        background-color: #0aa566;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: center;
    }

    .menu {
        display: flex;
        justify-content: center;
        width: auto;
        padding-top: 150px;
        padding-bottom: 85px;
    }

    .menu__list {
        flex-direction: column;
        height: 500px;
        justify-content: space-between;
        font-size: 20px;
        text-align: center;
    }

    .menu__btn {
        display: block;
        z-index: 1;
    }

    .header__right {
        display: flex;
        justify-content: center;
        margin: 30px;
        padding-right: 80px;
    }

    .header__top {
        padding: 90px;
    }
}