/* Здесь подключаем шрифты, используя правило @font-face*/
@font-face {
    font-family: 'Muli-Regular';
    src: url(../assets/fonts/Muli-Regular.woff);
}

@font-face {
    font-family: 'Muli-ExtraBold';
    src: url(../assets/fonts/Muli-ExtraBold.woff);
}

@font-face {
    font-family: 'Muli-Bold';
    src: url(..//assets/fonts/Muli-Bold.woff);
}

@font-face {
    font-family: 'Muli-LightItalic';
    src: url(..//assets/fonts/Muli-LightItalic.woff);
}

@font-face {
    font-family: 'Muli-Italic';
    src: url(../assets/fonts/Muli-Italic.ttf);
}

/*И повторяем этот кусок кода изменяя имя шрифта и путь к файлу*/



/* Общие стили */
html,
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}


/* Header */
.header {
    background-image: url('../assets/img/header-bg-img.jpg');
    background-size: cover;
    width: 100%;
    height: 100vh;

}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 100px;
}


.header__personal {
    width: 170px;
    height: 35px;
}

.header__personal-list {
    border: 1px solid;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
}

.header__personal-count {

    display: inline-block;
    width: 17px;
    height: 17px;
    color: black;
    border-radius: 50%;
    background: #ffffff;

}

.header__social {
    border: 1px solid;
    width: 160px;
    height: 35px;

}

.header__social-list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding-left: 10px;
}

.menu {
    width: 540px;
    height: 11px;
    font-family: 'Muli-Regular';
}

.menu__list {

    font-family: 'Muli-Regular';
    list-style-type: none;
    text-transform: uppercase;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    letter-spacing: 0.32px;
}

.menu__list-link {
    color: #ffffff;
}

.header__content {
    display: flex;
    justify-content: center;
}

.btn-header {
    width: 280px;
    height: 70px;
    border-radius: 35px;
    background-color: #0aa566;
    border: 0;
    font-family: "Muli-ExtraBold";
    font-size: 24px;
    color: #ffffff;

}

/* Smoothies */

.smoothies {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* .smoothies__about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 */
.title-smothies {
    margin: 98px 0px 55px 0px;
}


.title {

    color: #f7ae3b;
    font-family: 'Muli-ExtraBold';
    font-size: 50px;
    font-weight: 400;
    font-style: normal;
    line-height: 40px;
    text-align: center;
    letter-spacing: -1px;
}

.text {
    max-width: 915px;
    color: #1e1e1e;
    font-family: 'Muli-Regular';
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.text-smoothies {
    margin-bottom: 60px;
}

.smoothies__features {
    max-width: 1015px;
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    margin: 0px 0px 160px 0px;

}

.smothies__features-text {
    width: 200px;
    height: 25px;
    color: #f2612d;
    font-family: 'Muli-ExtraBold';
    font-size: 25px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
}

.smothies__features-icon {
    width: 74px;
    height: 70px;
}

.smoothies__features-content {
    width: 240px;
    height: 200px;
    padding: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.smoothies__features-content:nth-child(1) {
    border-right: 2px solid #f6edde;
    border-bottom: 2px solid #f6edde;
}

.smoothies__features-content:nth-child(2) {
    border-right: 2px solid #f6edde;
    border-bottom: 2px solid #f6edde;
}

.smoothies__features-content:nth-child(3) {
    border-right: 2px solid #f6edde;
    border-bottom: 2px solid #f6edde;
}

.smoothies__features-content:nth-child(4) {
    border-bottom: 2px solid #f6edde;
}

.smoothies__features-content:nth-child(5) {
    border-right: 2px solid #f6edde;

}

.smoothies__features-content:nth-child(6) {
    border-right: 2px solid #f6edde;

}

.smoothies__features-content:nth-child(7) {
    border-right: 2px solid #f6edde;

}


/* About */
.about {
    background-image: url('../assets/img/about/about-bg.png');
    background-size: cover;
    height: 800px;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;

}

.about__image {
    width: 691px;
    height: 818px;
    margin-top: 50px;
    margin-left: -203px;
}

.about__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 130px;

}

.about__text {
    max-width: 588px;
    color: #ffffff;
    text-align: left;
    line-height: 50px;
}

.title--green {
    color: #cae941;
}

.about__smoothie-list {
    font-family: 'Muli-LightItalic';
    width: 408px;
    font-size: 21px;
    color: #ffffff;
    padding: 60px 0px 50px 30px;
    list-style-image: url(../assets/img/about/1.png)
}

.about__smoothie-item {
    line-height: 40px;
}

.text--bold {
    font-family: 'Muli-ExtraBold';
}

.about__smoothie-item {
    width: 420px;
}

.btn--transparend {
    width: 380px;
    height: 60px;
    border-radius: 35px;
    border-color: #f8b231;
    border-width: 2px;
    border-style: solid;
    background-color: transparent;
    font-family: 'Muli-ExtraBold';
    color: #ffffff;
    font-size: 21px;

}

/* Products */
.product {
    position: relative;
    display: flex;

}

.product__item {
    width: 477px;
    height: 720px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 25%;
}

.product__img {
    width: 119px;
    height: 303px;
}

.product__item--dark-chocolate {
    background-color: #612917;

}

.product__item--vegan {
    background-color: #1a8472;
    bord
}

.product__item--lemon {
    background-color: #f8ac3a;
}

.product__item--turmeric {
    background-color: #c34b1e;
}

.product__title {
    font-family: 'Muli-Bold';
    color: #ffffff;
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.product__size {
    font-size: 21px;
    font-family: 'Muli-LightItalic';
    color: #ffffff;
    margin-bottom: 60px;
}

.btn--tr-white {
    width: 205px;
    height: 60px;
    background-color: transparent;
    border-radius: 35px;
    border-color: #ffffff;
    border-width: 2px;
    border-style: solid;
    font-family: 'Muli-ExtraBold';
    font-size: 21px;
    color: #ffffff;


}

/* Story */
.story {
    height: 870px;
    display: flex;
    justify-content: space-around;
    margin-left: 250px;
}

.story__image {
    width: 585px;
    height: 600px;
    margin-top: 115px;
    margin-right: 260px;

}

.story__about {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.story__text {
    width: 515px;
    height: 130px;
    text-align: left;
    line-height: 35px;
    margin-bottom: 50px;

}

.story__title {
    text-align: left;
    margin-bottom: 50px;
}

.btn--green-bg {
    width: 380px;
    height: 60px;
    border-radius: 35px;
    border-color: #f8b231;
    background-color: #0aa566;
    font-family: 'Muli-ExtraBold';
    color: #ffffff;
    font-size: 21px;
}

/* Testimonials */
.testimonials {
    background-color: #662b1f;
    height: 715px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.title--orange {
    font-family: 'Muli-ExtraBold';
    color: #f2612d;
}

.testimonials__title {
    margin-top: 50px;
}

.testimonials__text {
    font-family: 'Muli-Regular';
    width: 455px;
    height: 130px;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    line-height: 35px;
    margin-top: 59px;

}

.testimonials__from {
    font-family: 'Muli-LightItalic';
    color: #f7ae3b;
    width: 450px;
    margin-left: 18px;
}

.testimonials__main {
    width: 800px;
    height: 250px;
    display: flex;

}

.testimoials__text-img {
    width: 220px;
    height: 220px;
    margin-left: 100px;
}

.testimonials__arrows {
    width: 158px;
    display: flex;
    justify-content: space-between;
}

.testimonials__btn {

    width: 30px;
    height: 16px;
    background-color: transparent;
    border: 0;

}

/* Blog */
.blog {
    height: 860px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog__about {
    text-align: left;
    margin-bottom: 60px;
}

.blog__img {
    width: 555px;
    height: 400px;
}

.blog__subtitle {

    color: #f2612d;
    font-family: 'Muli-ExtraBold';
    font-size: 30px;
    font-weight: 400;
}

.blog__date {
    font-family: 'Muli-Regular';
    margin-bottom: 20px;
}

.blog__text {
    width: 472px;
    height: 122px;
    text-align: left;
    margin-left: 100px;
    margin-top: 50px;
}

.blog__post {
    margin-top: 70px;
}


.blog__link {
    color: black;
    font-weight: bold;
}

/* Instagram */
.instagram {
    width: 100%;
    margin-bottom: 10px;

}

.instagram__gallery {
    display: flex;

}

.instagram__link {
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
}

.instagram__gallery-image {
    width: 380px;
    height: 384px;
}

/* Footer */

.footer {

    height: 430px;
    background-color: #f4a83c;
}

.footer__top {
    height: 370px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer__title {
    font-family: 'Muli-ExtraBold';
    color: #ffffff;
    font-size: 26px;
    margin-bottom: 25px;
}

.footer__list {
    list-style-type: none;
    font-family: 'Muli-Regular';

}

.footer__link {
    color: #6d450c;
    font-size: 18px;
    line-height: 35px;
    font-weight: 700;

}

.footer__payments {
    width: 241px;
    height: 199px;
}

.footer__payments-list {
    width: 230px;
    height: 142px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer__input {
    border-radius: 35px;
    width: 495px;
    height: 60px;
    border: 0;
    background-image: url(../assets/img/footer/Icon-mail.png);
    background-repeat: no-repeat;
    background-position: 05% 50%;

}

input {
    outline: none;
}

.footer-social {
    display: flex;
    justify-content: space-between;
    width: 110px;
    height: 26px;
    margin-left: 340px;
}

::-webkit-input-placeholder {
    color: #c0392b;
    font-size: 17px;
    font-family: 'Muli-Regular';
    font-weight: 700;
    text-align: center;
}

:focus::-webkit-input-placeholder {
    color: transparent;
}

.test {
    width: 1215px;
    display: flex;
    justify-content: space-around;
}

.footer__follow {
    font-family: 'Muli-ExtraBold';
    font-size: 18px;
    font-weight: 400;
    color: #6d450c;
    display: inline-block;
}

.footer__span {
    text-align: center;
}

.footer__copyright {
    background-color: #6e2d19;
    height: 65px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer__copyright-text {
    font-family: 'Muli-Regular';
    color: #af8a82;
    font-size: 13px;
    font-weight: 400;
}

.footer__copyright-label {
    font-family: 'Muli-Regular';
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
}



/* Здесь будут медиа запросы */